<h1> New Users Page </h1>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message|%>
            <div><%=message%></div>
        <%end%>
        </div>
    <%end%>
    <%=f.label :username %>
    <%=f.text_field :username%>
    <%=f.label :email %>
    <%=f.text_field :email %>
    <%=f.label :password %>
    <%=f.password_field :password %>
    <%= f.submit "Create Account"%>
<%end%>